@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-200 dark:bg-blue-900;
}

.input-text,
.input-select {
    @apply w-full
        py-2
        px-4
        bg-transparent
        border-l-0
        border-t-0
        border-r-0
        border-b-4
        border-gray-200
        rounded-none
        text-gray-900
        dark:border-gray-800
        dark:text-gray-50
        focus:outline-none
        focus:border-blue-300;

    box-shadow: none !important;
}

@-moz-document url-prefix() {
    .input-select {
        @apply dark:bg-gray-900;
    }
}

button:focus
/*a:focus,*/
/*input:focus,*/
/*textarea:focus,*/
/*select:focus*/ {
    @apply outline-none ring ring-blue-300;

    /*outline: none !important;*/
    /*box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5) !important;*/
}
