VUE_APP_INFURA_ID=
VUE_APP_OPEN_SEA_URL='https://testnets.opensea.io'
VUE_APP_PIXEL_AVATAR_NETWORK_NAME='Polygon Mumbai Testnet'
VUE_APP_PIXEL_AVATAR_NETWORK_CHAIN_ID=80001
VUE_APP_PIXEL_AVATAR_NETWORK_RPC='https://rpc-mumbai.maticvigil.com'
VUE_APP_PIXEL_AVATAR_NETWORK_BLOCK_EXPLORER='https://mumbai.polygonscan.com'
VUE_APP_PIXEL_AVATAR_TOKEN=0xd30eeACf0aFD2F967855450357dd308b9Ac48E2c
VUE_APP_SERVER_URL='https://pixel-avatars-api-rasmus-developdao.vercel.app'
